obj/
Properties/
Stashie.csproj
.vs/
packages/

/config.ini
/FitersConfig.txt
/IgnoredCells.json
/RefillCurrency.txt
System.Buffers.xml
SharpDX.Mathematics.xml
SharpDX.Mathematics.dll
PoeHUD.pdb
PoeHUD.exe.config
PoeFilterParser.dll
Newtonsoft.Json.xml
Newtonsoft.Json.dll
System.Runtime.CompilerServices.Unsafe.dll
System.Numerics.Vectors.xml
System.Numerics.Vectors.dll
Stashie.dll
SharpDX.Direct3D9.dll
SharpDX.Desktop.xml
ImGui.NET.xml
ImGui.NET.dll
Gma.System.MouseKeyHook.dll
Trinet.Core.IO.Ntfs.xml
Trinet.Core.IO.Ntfs.dll
System.Runtime.CompilerServices.Unsafe.xml
SharpDX.xml
SharpDX.dll
PoeHUD.exe
Antlr4.Runtime.xml
Antlr4.Runtime.dll
System.Buffers.dll
Stashie.pdb
SharpDX.Desktop.dll
SharpDX.Direct3D9.xml
